DB_NAME=book_reviews
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
REDIS_HOST=localhost
REDIS_PORT=6379
ENABLE_CACHE=true
SEARCH_HOST=localhost
SEARCH_PORT=9200
ENABLE_SEARCH=true
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_REJECT_UNAUTHORIZED=false